*.o
*~
.deps/
ChangeLog
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
catrw
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
follow
install-sh
missing
powwow
powwow-movieplay
powwow-muc
doc/powwow.doc
man/powwow.6
man/powwow.6.utf-8
