Source: powwow
Section: misc
Priority: optional
Maintainer: Steve Slaven <bpk@hoopajoo.net>
Standards-Version: 3.0.1

Package: powwow
Architecture: i386
Depends: libncurses5
Description: a powerful and extensible curses based mud client
 powwow is a powerful mud client that supports triggers, aliases,
 multiple connections, and more.  It is extensible through a plugin
 interface.  Currently there are plugins to add javascript and perl
 language support.
